<main class="container" id="home" style="background-image: url('/img/objective-achieved-hero.jpg');">

     <h3 class="center white">Welcome to <b>OKReady</b></h3>

    <section id="intro">
        <p><b>OKReady</b> <span class="blue">is a simple app to create and update your OKRs whether you are a single person or a team.</span></p>

        <p>OKR (Objectives and Key Results) is a goal system used by Google and others.
        It is a simple tool to create alignment and engagement around measurable goals.</p>


        <p><b>Objectives</b> are memorable qualitative descriptions of what you want to achieve.
        <span class="blue">Objectives should be short, inspirational and engaging. An Objective should motivate and challenge the team.</span></p>

        <p><b>Key Results</b> are a set of metrics that measure your progress towards the Objective.
        <span class="blue">For each Objective, you should have a set of 2 to 5 Key Results. More than that and no one will remember them.</span></p>

        <p>Each Objective has a number of Wins set. It's there so you can know if you did not reach, achieved or surpassed the Objective.</p>

        <p>Every Objective's Key Result will help you achieve your objective. <br> <b>Each time you complete a Key Result, the Objective's Win Counter <i class="orange fas fa-trophy"></i> will increase.</b>
        You can have different Win Ratios for every Key Result, even negative ones.</p>

        <p><b>Wins Ratio</b> is going to multiply the completion of the Key Result by a number, so that <span class="blue">you can have Key Results that count twice, ten times (or as many times as you want)
        more than the others.</span></p>

        <p>You can set objectives for each quarter or <b>Semester</b>. The year will be set automatically.</p>

        <p><b>This is a demo app</b>, <span class="blue">you can enter and create, view or edit semesters for the current year</span>, just typing in "<b>guest</b>" as a password.</p>

        <p>It's made as simple as possible, hope you enjoy it.</p>

    </section>

</main>
