.navbar-primary .navbar-nav > .active{
    color: white;
    background: dodgerblue;
}
.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
    color: white;
    background: dodgerblue;
}

.home a{
    background: dodgerblue;
    color: white;
}

.center {
    text-align: center;
}

.container-custom {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: dodgerblue !important;;
}

.container > aside {
    margin: 0 auto;
}

/* ===== New Semester ===== */

#new_semester {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#okr_input {
    max-width: 730px;
    min-width: 330px;
}

#okr_list{
    max-width: 740px;
    min-width: 330px;
    padding: 5px;
    color: dodgerblue;
}

#new_semester section {
    border-bottom: 1px solid lightgrey;

}
#new_semester section div {
    margin: 5px 10px;
}


#new_sect_1, #new_sect_2, #new_sect_3 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#new_sect_1 div , #new_sect_2 div{
    width: 330px;
}

#new_sect_3 div {
    min-width: 330px;
    max-width: 500px;
}

#new_sect_1:nth-child(2) p, #new_sect_2:nth-child(2){
    white-space: pre;
    padding: 20px;
    visibility: hidden;
}


#new_form_1 *, #new_form_2 *{
    margin-bottom: 10px;
}

#year, #semester {
    text-align-last: center;
}


.objective {
    background-color: rgb(248, 249, 250);
    padding: 5px;
    border: 1px solid grey;
    position: relative;
    left: -10px;
}


.kr {
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 8px darkgrey;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.kr_list {
    list-style: none;
    padding-left: 0;
}

/* ======= manage semesters ======= */



/* ========== view semester ======== */

#view_semester #okr_list{
    margin: 0 auto;
}

#view_semester #okr_list  .kr_list li {
    font-size: 22px;
    font-weight: bold;
}

.kr-wins-detail {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    position: relative;
    top: -5px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    box-shadow: 0 0 2px darkgrey;
    font-size: 20px;
}

.kr-wins-detail span {
    line-height: 34px;

}

.kr-wins-detail div {
    display: flex;
    justify-content: flex-end;
}

.kr-wins-input {
    width: 50px;
    text-align: right;
    background-color: whitesmoke;
    border: none;
}


.toggle-kr-edit {
    width: 34px;
    height: 34px;
    /*border: 1px solid red;*/
    overflow: hidden;

}

.toggle-kart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    position: relative;
}

.edit-kr {
    font-size: 25px!important;
    padding: 5px;
    padding-top:0px;
    color: orange;
    position:relative;
    top:5px;
}


.ok-kr {
    font-size: 25px !important;
    padding: 5px;
    padding-top: 0px;
    color: dodgerblue;
    position:relative;
    top: 5px;
}

.completion p {
    font-size: 20px;
    color: #777777;
}

/* ===== accordion ===== */

.okr-item {
    margin-bottom: 2px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ccc;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-acc, .accordion:hover {
    background-color: dodgerblue;
    color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10px 18px 0px;
    background-color: white;
    color: #ccc;
    display:none;
    overflow: hidden;
    margin: 0px;
    border: 1px solid dodgerblue;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active-acc:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* ====== slider ========== */

.slidecontainer {
    width: 20%;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}


/* ==== New OKR ===== */


.short-input {
    width: 250px;
}

#new_f1, #new_f2, #new_f3{
    max-width: 350px;
    min-width: 330px;
    min-height: 200px;
    padding: 5px;
    /*border: 1px dotted lightgrey;*/
}

#new_f1 *, #new_f2 *, #new_f3 *{
    margin-bottom: 5px;
}

#new_f2 input, #new_f3 input {
    float: left;
}

.ok {
    font-size: 30px !important;
    padding: 5px;
    color: dodgerblue;
    float:left;
    position:relative;
}

.not{
    float:left;
    font-size: 30px!important;
    padding: 5px;
    color: lightgrey;
    position:relative;
    visibility: hidden;
    display: none;
}

.back {
    float: left;
    position: relative;
    top: -43px;
    left: 60px;
}

#new_okr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

 /*======= caroussel ====*/

#caroussel {

    height: 200px;
    /*border:1px dotted lightgrey;*/
    overflow-y: scroll;

}